.body-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 99;
  img {
    max-height: 3.5rem;
  }
  nav {
    position: relative;
    input {
      position: absolute;
      top: 2px;
      right: 12px;
      opacity: 0;
    }
    input:checked + ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 1rem;
      margin: 0;
      position: absolute;
      left: 0;
      top: 4.3rem;
      background-color: var(--bg-color);
      animation: fade-in 1s ease forwards;
    }
    ul {
      display: none;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (width > 600px) {
  .body-header {
    nav {
      label, input {
        display: none;
      }
      ul, input:checked + ul {
        position: initial;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
        padding: 0;
        margin: 0;
      }
    }
  }
}