main {
  flex: 1;
  height: 66vh;
  height: 66dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  h1 {
    order: 1;
    margin: 0;
    font-size: 3rem;
    transition: opacity 1s ease;
    .error-not-found {
      display: none;
    }
  }
  figure {
    order: 2;
    transition: opacity 1s ease;
    margin: 0;
    img {
      width: 100%;
      max-width: 600px;
      animation: fade-in-from-left 3s ease-in forwards;
    }
  }
  figure:hover {
    opacity: 0;
    + h1 {
      opacity: 0;
    }
    ~ label {
      text-align: center;
      animation: fade-in 1s ease forwards;
      color: var(--brand-color);
    }
  }
  label {
    position: absolute;
    font-size: 3rem;
    font-weight: 600;
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes fade-in-from-left {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    33% {
      transform: translateX(120%);
    }
    66% {
      transform: translateX(-30%);
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}


@media (width > 767px) {
  main {
    h1 {
      .error-404 {
        display: none;
      }
      .error-not-found {
        display: inline-block;
      }
    }
  }
}