.body-header {
  position: sticky;
  top: -1px;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 99;
  img {
    max-height: 3.5rem;
  }
}

@media (width > 1024px) {
  .body-header {
    background-color: transparent;
  }
}