.body-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-dark-scheme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 99;
  img {
    max-height: 3.5rem;
  }
}

@media (prefers-color-scheme: light) {
  .body-header {
    background-color: var(--bg-color-light-scheme);
  }
}