.body-header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  z-index: 99;
  img {
    max-height: 3.5rem;
  }
}