main {
  flex: 1;
  height: 66vh;
  height: 66dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  h1 {
    margin: 0;
    font-size: 3rem;
    span {
      display: none;
    }
  }
  div {
    width: 100px;
    height: 100px;
    position: relative;
  }
  div::before,
  div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 10px;
    height: 100%;
    background-color: rgb(255, 0, 0);
    transform-origin: center;
  }
  div::before {
    animation: rotation-1 2s ease forwards;
  }
  div::after {
    animation: rotation-2 1s ease forwards;
  }
}

@media (prefers-reduced-motion: no-preference) {
  @keyframes rotation-1 {
    0% {
      transform: translateY(-60%);
    }
    100% {
      transform: rotate(45deg);
    }
  }
  
  @keyframes rotation-2 {
    0% {
      transform: translateY(30%);
    }
    100% {
      transform: rotate(-45deg);
    }
  }
}

@media (width > 767px) {
  main {
    h1 {
      span {
        color: var(--brand-color);
        display: inline-block;
      }
    }
  }
}

@media (width > 1023px) {
  main {
    flex-direction: row;
  }
}