.main {
  .description {
    padding: 1rem;
    > div {
      display: flex;
      align-items: center;
      gap: 1rem;
      h2 {
        margin: 0;
      }
    }
    p {
      margin: 0;
      padding: 1rem 0;
    }
  }
}

@media (min-width: 1024px) {
  .main {
    .description {
      padding: 1rem 5rem;
    }
  }
}