.footer {
  position: sticky;
  bottom: 0;
  background-color: var(--footer-bg-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & span {
    font-weight: 600;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;

    & a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;

      & img {
        max-height: 2.5rem;
      }
    }
  }
}

#github-logo-white {
  display: none;
}

#linkedin-logo-white {
  display: none;
}

@media (prefers-color-scheme: dark) {
  #github-logo-dark {
    display: none;
  }

  #github-logo-white {
    display: block;
  }

  #linkedin-logo-dark {
    display: none;
  }

  #linkedin-logo-white {
    display: block;
  }
}