.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;

  span {
    font-weight: 600;
  }

  > div {
    width: 315px;
    text-align: left;

    a {
      text-decoration: none;
      color: inherit;
      cursor: pointer;
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;

    img {
      max-height: 2.5rem;
      transition: transform 1s ease;
    }
    

    a:hover #github-logo-white {
      animation: fade-out 1s ease-out forwards;
    }

    a:hover #github-letras-logo-white {
      position: absolute;
      display: block;
      opacity: 0;
      animation: fade-in 1.5s ease-in forwards;
    }

    li:first-child:hover + li img {
      transform: translateX(2.5rem);
    }

    a:hover #linkedin-logo-white {
      animation: fade-out 1s ease-out forwards;
    }

    a:hover #linkedin-letras-logo-white {
      position: absolute;
      display: block;
      opacity: 0;
      animation: fade-in 1.5s ease-in forwards;
    }
  }
}

#linkedin-logo-white:not(:hover) {
  animation: fade-in 1s ease-in forwards;
}

#github-logo-white:not(:hover) {
  animation: fade-in 1s ease-in forwards;
}

#github-letras-logo-dark,
#linkedin-letras-logo-dark,
#github-logo-dark,
#linkedin-logo-dark,
#github-letras-logo-white,
#linkedin-letras-logo-white {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
  #github-logo-white, #linkedin-logo-white {
    display: none;
  }

  #github-logo-dark, #linkedin-logo-dark {
    display: block;
  }
}