.footer {
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  div, nav {
    margin: 0;
    flex: 1;
    text-align: center;

    p {
      margin: 0;

      span {
        font-style: italic;
      }
    }
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;

    #github-letras-logo-white,
    #linkedin-letras-logo-white,
    #github-letras-logo-dark,
    #linkedin-letras-logo-dark {
      position: absolute;
      opacity: 0;
    }

    img {
      max-height: 2.5rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  #github-logo-dark,
  #linkedin-logo-dark,
  #linkedin-letras-logo-dark,
  #github-letras-logo-dark {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  #github-logo-white,
  #linkedin-logo-white,
  #linkedin-letras-logo-white,
  #github-letras-logo-white {
    display: none;
  }
}

@media (min-width: 1024px) {
  .footer {
    nav {
      ul {
        /*Dark mode animations*/
        li:hover #github-logo-white, li:hover #linkedin-logo-white {
          animation: fade-out .5s ease-out forwards;
        }
    
        li:hover #github-letras-logo-white, li:hover #linkedin-letras-logo-white {
          animation: fade-in 1.5s ease-in forwards;
        }

        li:hover #github-letras-logo-white {
          transform: translateX(-2rem);
          transition: transform .75s ease-in;
        }
    
        li:hover + li #linkedin-logo-white {
          transform: translateX(1rem);
          transition: transform .75s ease-in;
        }
        /*Light mode animations*/
        li:hover #github-logo-dark, li:hover #linkedin-logo-dark {
          animation: fade-out .5s ease-out forwards;
        }
    
        li:hover #github-letras-logo-dark, li:hover #linkedin-letras-logo-dark {
          animation: fade-in 1.5s ease-in forwards;
        }

        li:hover #github-letras-logo-dark {
          transform: translateX(-2rem);
          transition: transform .75s ease-in;
        }
    
        li:hover + li #linkedin-logo-dark {
          transform: translateX(1rem);
          transition: transform .75s ease-in;
        }
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}