.header {
  position: sticky;
  top: 0;
  background-color: var(--bg-color-dark-scheme);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  img {
    max-height: 3.5rem;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
    margin: 0;
  }
}

@media (prefers-color-scheme: light) {
  .header {
    background-color: var(--bg-color-light-scheme);

    #dark-header-logo {
      display: block;
    }

    #white-header-logo {
      display: none;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    #dark-header-logo {
      display: none;
    }

    #white-header-logo {
      display: block;
    }
  }
}