.header {
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;

  & img {
    max-height: 3.5rem;
  }

  & ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }
}