body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  min-height: 100vh;
  text-align: center;
  background-color: var(--bg-color-light-scheme);
  color: var(--color-light-scheme);
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--bg-color-dark-scheme);
    color: var(--color-dark-scheme);
  }
}

main {
  flex-grow: 1;
}