body {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100dvh;
  background-color: var(--bg-color-dark-scheme);
  color: var(--color-dark-scheme);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--bg-color-light-scheme);
    color: var(--color-light-scheme);
  }
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
}

.link:hover {
  opacity: .5;
}

.button {
  color: var(--color-dark-scheme);
  background-color: var(--bg-color-dark-scheme);
  text-decoration: none;
  border-radius: 8px;
  padding: 1rem;
  display: inline-block;
  transition: background-color, color 2s ease-in-out;
}

.button:hover {
  background-color: green;
  color: black;
}

.hidden {
  display: none;
}