.main { 
  display: flex;
  flex-direction: column;

  section {
    h2 {
      font-weight: 100;
    }
  }

  #skills {
    background-color: brown;
  }

  #contact {
    background-color: rgb(51, 167, 51);
  }
}