.main {
  .skills {
    padding: 1rem;
    h2, h4 {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-top: 1rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      place-content: center;
      gap: 1.5rem;
      .skill {
        h4 {
          padding-bottom: .5rem;
        }
        .total-progress {
          width: 100%;
          max-width: 375px;
          height: 1rem;
          border: 1px var(--color-dark-scheme) solid;
          border-radius: 10px;
          position: relative;
          #git-github-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-git-github-progress 3s linear forwards;
          }
          #html-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-html-progress 3s linear forwards;
          }
          #css-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-css-progress 3s linear forwards;
          }
          #javascript-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-javascript-progress 3s linear forwards;
          }
          #nodejs-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-nodejs-progress 3s linear forwards;
          }
          #reactjs-progress {
            height: 99%;
            background-color: red;
            border-radius: 10px;
            animation: fill-reactjs-progress 3s linear forwards;
          }
        }
      }
    }
  }
}

@keyframes fill-git-github-progress {
  0% {
    width: 0;
  }
  100% {
    width: 50%;
  }
}

@keyframes fill-html-progress {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@keyframes fill-css-progress {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

@keyframes fill-javascript-progress {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes fill-nodejs-progress {
  0% {
    width: 0;
  }
  100% {
    width: 20%;
  }
}

@keyframes fill-reactjs-progress {
  0% {
    width: 0;
  }
  100% {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  .main {
    .skills {
      padding: 1rem 5rem;
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}