.main {
  .skills {
    padding: 1rem;
    h2, h4 {
      margin: 0;
    }
    ul {
      margin: 0;
      padding: 0;
      padding-top: 1rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
      place-content: center;
      gap: 1.5rem;
      .skill {
        h4 {
          padding-bottom: .5rem;
        }
        .total-progress {
          width: 100%;
          max-width: 375px;
          height: 1rem;
          border: 1px var(--color-dark-scheme) solid;
          border-radius: 10px;
          position: relative;
          #git-github-progress {
            width: 50%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
          #html-progress {
            width: 65%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
          #css-progress {
            width: 55%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
          #javascript-progress {
            width: 80%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
          #nodejs-progress {
            width: 30%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
          #reactjs-progress {
            width: 20%;
            height: 99%;
            background-color: red;
            border-radius: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .main {
    .skills {
      padding: 1rem 5rem;
      ul {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}