:root {
  --bg-color-light-scheme: #f5f5f5;
  --color-light-scheme: #111;
  --bg-color-dark-scheme: #2c2d2e;
  --color-dark-scheme: #e9f0f1;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}